<html xmlns:th="https://www.thymeleaf.org/">
  <head>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.2.0/css/all.min.css"
    />
  </head>
  <body>
	  <di class="container">
		  <table class="table" table-hover>
			  <tr class="bg-info text-white">
				  <th>ID</th>
				  <th>NAME</th>
				  <th>SALARY</th>
				  <th>DEPT</th>
				  <th>ADDRESS</th>
				  <th>OPERATIONS</th>
			  </tr>
			  <tr th:each="ob:${emplist}">
				  <td th:text="${ob.id}"></td>
				  <td th:text="${ob.empName}"></td>
				  <td th:text="${ob.empSal}"></td>
				  <td th:text="${ob.empDept}"></td>
				  <td th:text="${ob.empAddr}"></td>
				  <td>
					  <a th:href="@{/emp/delete(id=${ob.id})}" class="btn btn-danger">DELETE</a> | 
					   <a th:href="@{/emp/edit(id=${ob.id})}" class="btn btn-warning">EDIT</a>  
				  </td>
			  </tr>
		  </table>
		  <div th:text="${message}" class="bg-info text-white"></div>
	  </di>
  </body>
</html>	  











